* {
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}
body {
  font-family: poppins, sans-serif;
}

.full-height {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
